{% load static %}

<header>
    <div class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/brand/logo2.svg' %}" alt="" width="70px"
                    title="KickStar"></a>
        </div>

        <div class="search-bar desktop">

            <form action="{% url 'product_search' %}" method="get">
                <input type="search" placeholder="Search Products, Categories, Brands, ..." name="q"
                    value="{{ request.GET.q }}" required>
                <i class="ri-search-line"></i>
                <input type="submit" value="Search">
            </form>
        </div>


        <div class="header-items">
            <div class="help">
                <i class="ri-questionnaire-line"></i>
            </div>


            {% if user.is_authenticated %}
            <div class="account">
                <div class="account-initials">
                    <a href="{% url 'account' %}">{{ user.first_name|first|upper }}{{ user.last_name|first|upper }}</a>
                </div>
                <div class="account-dropdown">
                    <p class="login"><a href="{% url 'account' %}">Profile</a></p>
                    <hr>
                    <p class="login"><a href="{% url 'logout' %}">Logout</a></p>
                </div>
            </div>
            {% else %}
            <div class="account">
                <i class="ri-account-circle-line" title="Account"></i>
                <div class="account-dropdown">
                    <p class="login"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
                    <p class="register"><a href="{% url 'register' %}?next={{ request.path }}">Register</a></p>
                </div>
            </div>
            {% endif %}


            <div class="cart">
                <a href="{% url 'cart_detail' %}">
                    <i class="ri-shopping-cart-line" title="Cart"></i>
                    <span id="cart-count" class="cart-count">{{ cart|length }}</span>
                </a>
            </div>
        </div>
    </div>


    <div class="search-bar mobile">
        <form action="{% url 'product_search' %}" method="get">
            <input type="search" placeholder="Search Products, Categories, Brands, ..." name="q"
                value="{{ request.GET.q }}" required>
            <!-- <span><i class="ri-search-line"></i></span> -->
            <input type="submit" value="Search">
        </form>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'products' %}">All</a></li>
            <li><a href="{% url 'home' %}">Women</a></li>
            <li><a href="{% url 'home' %}">Men</a></li>
            <li><a href="{% url 'home' %}">Kids</a></li>
            <li><a href="{% url 'home' %}">New</a></li>
            <li><a href="{% url 'home' %}">Deals</a></li>
            <li><a href="{% url 'home' %}">Brands</a></li>
            <li><a href="{% url 'home' %}">Sale</a></li>
            <li><a href="{% url 'home' %}">Contact</a></li>
            <li><a href="{% url 'home' %}">About</a></li>
        </ul>
    </nav>

</header>
<div class="header-after"></div>

<!-- <script src="{% static 'js/navbar.js' %}"></script> -->
