<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="next" value="{{ request.GET.next|default:'/' }}">
  <button type="submit">Log In</button>
  
   <div class="links">
        <span>Don't have an account? <a href="{% url 'register' %}?next={{ request.GET.next }}">Register</a></span>
        <span><a href="{% url 'password_reset' %}">Forgot password?</a></span>
    </div>
</form>

{% if show_resend_button %}
  <hr>
  <p>Didn't get your activation email?</p>
  <form method="post" action="{% url 'resend_activation' %}">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ resend_email }}">
    <button type="submit">Resend Activation Link</button>
  </form>
{% endif %}
