{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>


    <link rel="shortcut icon" href="logo2.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
</head>

<body>
    <div class="container">
        {% include 'main/partials/navbar.html' %}

        {% block content %}
        {% endblock %}
    </div>
    <script>
        function updateCartIcon() {
            fetch('/cart/ajax/cart-count/')
                .then(res => res.json())
                .then(data => {
                    const icon = document.getElementById('cart-count');
                    if (icon) icon.textContent = data.cart_count;
                });
        }
        updateCartIcon();
    </script>


    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>