{% extends "main/base.html" %}
{% load static %}

{% block title %}
Shoe Shop Ecommerce
{% endblock %}

{% block content %}
<h1> Shoe Shop Ecommerce </h1>
<p>Hello world. This is from a template file</p>

<img src="{% static 'images/shoes.jpg' %}" alt="" width="200px">


<button id="clickme" type="button">Click</button>

<!-- <div class="element" style="width: 200px; height: 100px; background-color: yellow;">

</div> -->

{% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endif %}

<p><a href="{% url 'password_reset' %}"> Reset password</a></p>
<p><a href="{% url 'password_change' %}"> Change password</a></p>

<h2>Latest Products</h2>
<div class="grid">
  {% for product in products %}
    <div class="product-card">
      <a href="{% url 'product_detail' slug=product.slug %}">
        <img src="{{ product.variants.first.images.first.imageURL }}" alt="{{ product.name }}" width="150">
        <h3>{{ product.name }}</h3>
        <p>{{ product.brand.name }}</p>
        <p>KES {{ product.variants.first.price }}</p>
      </a>
    </div>
  {% endfor %}
</div>



{% endblock %}