{% extends "main/base.html" %}
{% load static %}

{% block title %}
Shoe Shop Ecommerce
{% endblock %}

{% block content %}
<h1> Shoe Shop Ecommerce </h1>
<p>Hello world. This is from a template file</p>

<img src="{% static 'images/shoes.jpg' %}" alt="" width="200px">


<button id="clickme" type="button">Click</button>

<!-- <div class="element" style="width: 200px; height: 100px; background-color: yellow;">

</div> -->

{% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endif %}


{% endblock %}