{% extends "main/base.html" %}
{% load static %}

{% block title %}
Shoe Shop Ecommerce
{% endblock %}

{% block content %}
{% include 'main/partials/banner.html' %}

<section>
  <div class="section-heading">
    <h2>Featured Products</h2>
    <p>Explore our latest collection of shoes</p>
  </div>
  {% include 'main/partials/scroll-section.html' %}
</section>




<style>
  section {
    padding: 2rem 0;
    background-color: #f9f9f9;
  }

  .section-heading {
    text-align: center;
    /* margin-bottom: 2rem; */
  }
</style>
{% endblock %}